<div id="login-page">
    <div class="container">
        <form class="form-login" action="/signup" method="POST" autocomplete="off">
            <h2 class="form-login-heading ">sign up now</h2>

            <div class="login-wrap">
                {{> error-msg/msg}}
                <!--Login with Google-->
                <div class="section">
                    <a href="/auth/google" class="form-control btn btn-theme"
                        style="background-color: rgb(241, 44, 44); color:white;">
                        <i class="fa fa-google left"></i> Signup with Google
                    </a>
                </div>
                <!--Login with Google-->
                <input type="text" class="form-control " name="firstName" id="firstName"  value="{{firstName}}" placeholder="First Name"
                    autofocus required>
                <input type="text" class="form-control " name="lastName" id="lastName" value="{{lastName}}" placeholder="Last Name"
                    required>
                <input type="text" class="form-control " name="mobile" id="mobile" value="{{mobile}}" placeholder="Mobile" required>
                <input type="email" class="form-control " name="email" id="email" value="{{email}}" placeholder="Email" required
                    autocomplete="off">
                <input type="password" class="form-control " name="password" id="password" value="{{password}}" placeholder="Password"
                    required autocomplete="off">
                <input type="password" class="form-control " name="password1" id="password1" value="{{password1}}"
                    placeholder="Confirm Password" required>
                <button class="btn btn-theme" type="submit"><i class="fa fa-lock"></i> SIGN UP</button>
            </div>
            <hr>
            <div class="registration">
                Go back to <a href="/">Sign in </a> Page
            </div>
        </form>
    </div>
</div>