<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>AdCom Management</title>

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--external css-->
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.semanticui.min.css">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="css/to-do.css">


</head>

<body>
    {{> _header}}
    {{ _sidebar}}
    <section id="main-content">
        <section class="wrapper">
            {{{body}}}
        </section>
    </section>
    {{!-- {{#if userRole}}
    {{#if userRole.superadmin}} {{>users-header/superadmin-header}} {{>users-sidebar/superadmin-sidebar}} {{/if}}
    {{#if userRole.admin}} {{>users-header/admin-header}} {{>users-sidebar/admin-sidebar}} {{/if}}
    {{#if userRole.staff}} {{>users-header/staff-header}} {{>users-sidebar/staff-sidebar}} {{/if}}
    {{#if userRole.client}} {{>users-header/client-header}} {{>users-sidebar/client-sidebar}} {{/if}}

    <section id="main-content">
        <section class="wrapper">
            {{#if userRole.superadmin}} {{>users-panel/sadmin-dashboard}} {{/if}}
            {{#if userRole.admin}} {{>users-panel/admin-dashboard}} {{/if}}
            {{#if userRole.staff}} {{>users-panel/staff-dashboard}} {{/if}}
            {{#if userRole.client}} {{>users-panel/client-dashboard}} {{/if}}
            {{{body}}}
        </section>
    </section>

    {{else}}

    {{{body}}}

    {{/if}} --}}



    <!-- js placed at the end of the document so the pages load faster -->
   <script type="text/javascript"  src="https://code.jquery.com/jquery-3.5.1.js"> </script>
   <script type="text/javascript"  src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"> </script>
   <script type="text/javascript"  src="https://cdn.datatables.net/1.10.22/js/dataTables.semanticui.min.js"> </script>
   <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"> </script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="lib/jquery.scrollTo.min.js"></script>
    <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>

    <!--common script for all pages-->
    <script src="lib/common-scripts.js"></script>


    <!--script for this page-->
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="lib/tasks.js" type="text/javascript"></script>
    <script src="js/script.js" type="text/javascript"> </script>



</body>

</html>